td {
    text-align: left;
}
.footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.nav-link{
    cursor: pointer;
}
.top{
    text-align: center;
    padding: 10px;
    color:white;
    background-color: dimgrey;
    width: 100px;
    position: fixed;
    cursor: pointer
}
.selected{
    background-color: rgba(245, 222, 179, 0.577);
}